<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body ng-app="app">
    <h1 class="text-center">My little to do app!</h1>

    <div id="todo" class="col-xs-6 col-xs-offset-3" ng-controller="MainCtrl">

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Item to add to todo list" ng-model="newItem">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="addItem()">
              Add
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
          </span>
            <select ng-model="priority">
            <option value='Today'>Today</option>
            <option value='Tomorrow'>Tomorrow</option>
            <option value='Future'>Next week or later</option>
          </select>
        </div><!-- /input-group -->

      <h2>stuff i gotta do asap
	  <button class="btn btn-danger pull-right" ng-click="deleteCompleted(todos.length - 1)">remove completed tasks</button>
	  </h2>
      <!-- Amount of items in todo list and amount of incomplete items -->
      <p> You have {{todos.length}} items on your to-do list and {{(todos | filter:"incomplete").length}} things to do!</p>

      <ul class="list-group">
        <!-- Switches between input and span when edit is active.  Edit is false by default -->
        <!-- http://www.w3schools.com/css/css_float.asp -->
        <li class="list-group-item clearfix" ng-repeat="do in todos">
          <!-- Status btns -->
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default" ng-if="do.status == 'complete'">
              <input type="checkbox" autocomplete="off" ng-model="do.status" ng-true-value="'complete'" ng-false-value="'incomplete'"/>
              <span class="glyphicon glyphicon-check"></span>
            </label>
            <label class="btn btn-success" ng-if="do.status == 'incomplete'">
              <input type="checkbox" autocomplete="off" ng-model="do.status" ng-true-value="'complete'" ng-false-value="'incomplete'"/>
              <span class="glyphicon glyphicon-unchecked"></span>
            </label>
          </div><!-- /Status btns -->
          <span ng-show="!edit" class="{{do.status}}">{{do.task}}</span>
          <input class= type="text" ng-model="do.task" ng-show="!!edit">

          <button class="btn btn-danger pull-right" type="button" ng-click="deleteItem(do)">
            <span class="glyphicon glyphicon-trash " aria-hidden="true"></span>
          </button>
          <button class="btn btn-warning pull-right"  ng-click=" edit=!edit">{{!edit? "Edit" : "Commit Change"}}</button>
            <button class="btn btn-info pull-right">{{priorities[$index]}}</button>

        </li>
      </ul>
    </div>

  </body>

</html>
