/* Styles go here */
body {
  background: dimgray;
}

li {
  width: auto;
}

.btn-warning {
  margin-right: 5px;
}

li {
  width: auto;
}

.btn-warning {
  margin-right: 5px;
}

.complete {
  text-decoration: line-through;
  color: lightgray;
}

.btn-info {
  margin-right: 5px;
}
